---
layout: default
title: Paul's website!
permalink: /
---
{% include section_start.html title="Paul's website!" %}
<p style="
    font-size: 2em;
    font-weight: bold;
    text-align: center;
">
    <img src="/assets/img/pfp.jpg" width="128" alt="pavlik_tt" /><br />
    p2u11
</p>
<p>
    Welcome! I'm Paul (aka p2u11/p2u111)
    <br />Here you'll see my crazy projects and all kinds of other stuff.
</p>
{% include section_end.html %}

{% include section_start.html title="Actively working on" %}
<p class="inline-h3">My home server</p>
<p>
    A lovely MacBook Pro Mid-2012 running Fedora Server with a bunch of services on it, including:
<ul>
    <li>Nextcloud</li>
    <li>Jellyfin</li>
    <li>Immich</li>
    <li>Vaultwarden</li>
</ul>
</p>
<p>
    <a href="https://p2u11.pp.ua">Home page</a>
</p>
{% include section_end.html %}

{% include section_start.html title="Peachy for Chrome/Firefox" %}
<p class="inline-h3">Peachy theme</p>
<p>
    A pretty theme featuring peachy sky with clouds.<br />
    Available for both new and old versions of Chrome, and modern versions of Firefox. (not the old
    ones with XUL-based themes, sry i tried)
</p>
<p>
    To install on Chrome, first download the theme as a file by right-clicking the version you want
    and
    selecting "Save link as...".<br>
    Then go to <code>chrome://extensions</code>, enable Developer mode and drag and drop .crx file
    into the
    browser window.
</p>
<p>
    <a href="/assets/img/peachy/peachy-preview.png"><img src="/assets/img/peachy/peachy-preview-zoomed-in.png"
            alt="Peachy theme preview" style="width: 100%;" />
    </a>
</p>
<table style="width: 100%; text-align:center;">
    <tbody>
        <tr>
            <td>
                <a href="/assets/files/peachy/peachy-old.crx"><img src="/assets/img/browsers/old chromium logo.png" width="16"
                        alt="old chromium/chrome logo" /> before chrome 18</a>
            </td>
            <td>
                <a href="/assets/files/peachy/peachy.crx"><img src="/assets/img/browsers/new chromium logo.png" width="16"
                        alt="new chromium/chrome logo" />
                    modern (chrome 18+)</a>
            </td>
        </tr>
    </tbody>
</table>
<table style="width: 100%; text-align:center;">
    <tbody>
        <tr>
            <td>
                <a href="https://addons.mozilla.org/en-US/firefox/addon/peachy-theme/"><img
                        src="/assets/img/browsers/firefox_logo.png" width="16" alt="firefox logo" />
                    Firefox</a>
            </td>
        </tr>
    </tbody>
</table>
</p>
{% include section_end.html %}

{% include section_start.html title="IDv3dit" %}
<p class="inline-h3">IDv3dit</p>
<p>
    IDv3dit is a simple web-based ID3 tag editor for MP3 files.<br />
    Not only can it do title, album, artist, but also can automatically add lyrics (either unsynced or both
    synced and unsynced from a LRC or SRT file), auto converts album art to JPG, and so much more!
</p>
<p style="text-align: center;">
    <button onclick="window.location.href='/idv3dit/'">Check it out</button>
</p>
{% include section_end.html %}