.section .header .header-left {
    background-image: url(/assets/img/strawshake-theme/header-left.gif);
    width: 64px;
}

.section .header .header-center {
    background-image: url(/assets/img/strawshake-theme/header-center.gif);
}

.section .header .header-right {
    background-image: url(/assets/img/strawshake-theme/header-right.gif);
    width: 9px;
    height: 22px;
}
