<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/macos.css" | relative_url }}">
</head>

<body>
    <div id="content">
        {{ content }}
    </div>
    <hr />
    <footer>
        <p>
            &copy; 2026 ~ CC BY 4.0 (basically "Attribution required") unless otherwise stated.
        </p>
    </footer>
    {% include settings.html %}
</body>

</html>